.App {
    background-color: #ccc;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}
.App-header {
    background-color: #222;
    padding: 40px;
    color: white;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
}
.headerWrapper {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
.headerWrapper h2 {
    display: inline-block;
}
.App-logo {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.App-logo-icon {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
}
.App-intro {
    font-size: large;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.menu {
    position: absolute;
    top: 29px;
    right: 31px;
    font-size: 36px;
    margin-left: 50px;
    width: 65px;
    z-index: 9;
}

/* ************************** 
/* ***** RESPONSIVE 650 ***** 
/* ************************** */

@media screen and (min-width: 720px) {
    .App-logo {
        display: inline-block;
        margin: 0 40px 0 0;
        padding: 0 40px 0 0;
    }
    .App-menu {
        display: inline-block;
    }
}

/* **************************
/* ***** RESPONSIVE 768 *****
/* ************************** */

@media (min-width: 768px) {
    .menu {
        display: none;
    }
}

/* ************************** 
/* ***** RESPONSIVE 899 ***** 
/* ************************** */

@media only screen and (max-width: 899px) {
    .wrapper {
        width: 90%;
    }
}